// General style init
body {
	padding: 0;
	margin: 0;
}

body, button, input, pre {
	font-family: 'Montserrat', sans-serif;
}

// Mixins
@mixin transit ($type) {
    @if ($type == 'ease') {
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    }
    @if ($type == 'swift') {
        -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition:         all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @if ($type == 'fast') {
        -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

@mixin popup ($type) {
    content: attr(data-msg);
    position: absolute;
    border-radius: 3px;
    left: 5px;
    bottom: -36px;
    font-size: 12px;
    color: white;
    padding: 8px 10px;
    white-space: nowrap;
    opacity: 0;
    z-index: 10;
    transform: translate3d(0, 5px, 0);
    @include transit('swift');
    @if ($type == 'info') {
        display: none;
        background: #333333;
    }
    @if ($type == 'disabled') {
        left: 5px;
        bottom: -36px;
        background: #333333;
    }
    @if ($type == 'range') {
        padding: 4px 8px;
        left: 50%;
        transform: translate3d(-50%, 5px, 0);
        bottom: 34px;
        background: #333333;
    }
}

@mixin range-slider () {
    .s-range[type="range"] {
        outline: 0 !important;
        -webkit-appearance: none;
        // background-color: #9ad886;
        background: #cacaca;
        height: 5px;
        border-radius: 3px;
        // box-shadow: 0px 0px 3px #669258;
    }

    .s-range[type="range"]:focus {
        outline: 0;
    }

    .s-range[type="range"]::-webkit-slider-thumb {
    	-webkit-appearance: none;
    	position: relative;
    	top: 0px;
    	z-index: 1;
    	width: 16px;
    	height: 16px;
    	cursor: pointer;
    	-webkit-border-radius: 40px;
    	-moz-border-radius: 40px;
    	border-radius: 40px;
        background: white;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: 0 0 3px gray;
        -moz-box-shadow: 0 0 3px gray;
        box-shadow: 0 0 3px gray;
        transition: all 0.6s ease;
    }

    .s-range[type="range"]:active::-webkit-slider-thumb {
        opacity: 0.8;
        background: #eeeeee;
    }
}

@mixin modal-content {
    .s-modal {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -40%, 0);
        display: inline-block;
        padding: 8px 16px;
        background: #f76464;
        border-radius: 10px;
        @include transit('swift');
        .s-row {
            height: 40px;
            -webkit-user-select: none;
            user-select: none;
            .s-btn {
                font-weight:bold;
                font-size:28px;
                color: white;
            }
            .s-btn:hover {
                cursor: pointer;
            }
        }
        table {
            border-collapse: collapse;
            margin: 0px 100px 0px 100px;
            th {
                color: white;
                -webkit-user-select: none;
                user-select: none;
            }
            // #body-html {
            //     border-right: 3px solid white;
            // }
            td {
                text-align: center;
            }
            pre {
                color: white;
                text-align: initial;
                display: inline-block;
                font-size: 14px;
                border-top: 2px solid white;
                margin-top: 5px;
                padding: 10px 0px;
            }
        }
    }
}

// Object-specific styles
#view-wrap {
	position: relative;
	overflow: hidden;
}

#side-wrap {

}

#hero-wrap {
	position: relative;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: #f2f2f2;
}

#navbar {
	position: relative;
	height: 72px;
	background: transparent;
	transition: all 0.6s ease;
    .s-box {
        margin-right: 30px;
    }
    :nth-child(4) {
        margin-right: 5px;
    }
    :last-child {
        margin-right: 5px;
    }
}

#navbar:hover {
    background: white;
}

#home-expand {
    margin-left: 15px;
	color: #40b572;
	font-size: 50px;
}

#home-version {
	font-size: 18px;
	color: #999999;
}

#home-helper {
    right: 5px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	font-size: 30px;
	color: rgba(255,255,255,1);
	background: rgba(0,0,0,0.2);
	opacity: 1;
}

#home-login {
	right: 30px;
	border-radius: 50px;
	padding: 8px 20px;
	font-size: 18px;
	color: #FFFFFF;
	background: #40b572;
}

#home-brand {
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-size: 120px;
}

#home-author {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 24px;
}

// Module: Workspace
#workspace {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

// Modals
#compile-modal {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background: rgba(142, 146, 141, 0.6);
    opacity: 0;
    visibility: hidden;
    @include transit('fast');
    @include modal-content;
}

// ---------- Editor style starts -------------
#editor {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 35%;
	height: 80%;
	z-index: 10;
    .s-body {
        background: #E5E5E5;
    }
    .s-head:before {
    	content: "";
        position: absolute;
        top: 60px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #c47de8;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
    .s-bot:before {
        content: "";
        position: absolute;
        top: -12px;
        left: 0;
        height: 100%;
        width: 50%;
        z-index: 0;
        background: #8ed7ae;
        -webkit-transform: skew(0deg, -3deg);
        -moz-transform: skew(0deg, -3deg);
        -ms-transform: skew(0deg, -3deg);
        -o-transform: skew(0deg, -3deg);
        transform: skew(0deg, -3deg);
    }
    .s-bot:after {
        content: "";
        position: absolute;
        top: -12px;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: 0;
        background: #8ed7ae;
        -webkit-transform: skew(0deg, 3deg);
        -moz-transform: skew(0deg, 3deg);
        -ms-transform: skew(0deg, 3deg);
        -o-transform: skew(0deg, 3deg);
        transform: skew(0deg, 3deg);
    }
    .s-bot {
        .s-overlay {
            height: 100%;
            background-color: #8ed7ae;
        }
    }
}

#editor-module {
    margin-top: 20px;
    height: 30px;
    .s-btn {
        color: #a0a0a0;
        // background: #b4dca2;
        width: 100%;
        height: 40px;
        cursor: pointer;
    }
    .s-btn:after {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: #999999;
        @include transit('swift');
    }
    .active:after, .s-btn:not(.active):hover:after {
        width: 40%;
    }
}

#editor-form {
    position: relative;
    top: 36px;
    width: 84%;
    margin: 0% 6%;
    background: #ececec;
    box-shadow: 0px 0px 10px #c9c9c9;
    -webkit-user-select: none;
    user-select: none;
    .s-head {
        // background: #e6e6e6;
        background: #a1debb;
        height: 30px;
        border-radius: 0;
        .s-btn {
            position: absolute;
            border-radius: 5px;
            top: 0%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-size: 1.5vw;
            color: #999999;
            padding: 8px 16px;
            border-radius: 20px;
            box-shadow: 0px 0px 10px #d3d3d3;
            z-index: 10;
            background: #e9e9e9;
        }
        .s-btn:hover {
            background: #f2f2f2;
        }
        .s-btn:active {
            -webkit-filter: none;
            filter: none;
        }
    }
    .s-head:before {
        display: none;
    }
    .s-body {
        position: relative;
        top: 0px;
        border-radius: 5px;
        z-index: 5;
        width: 100%;
        background: #ececec;
        overflow: visible;
        cursor: default;
        padding-bottom: 30px;
        .s-table {
            margin: auto;
            text-align: center;
            color: #888888;
            font-weight: normal;
            tr {
                height: 40px;
            }
            tr:first-child {
                height: 60px;
            }
            // Preset / Wrapper
            .s-tr-btn {
                td:first-child {
                    width: 40%;
                    border-bottom: 2px dashed #c3c3c3;
                    font-size: 18px;
                }
                td:last-child {
                    text-align: center;
                    border-bottom: 2px dashed #c3c3c3;
                }
                .s-btn {
                    border-radius: 5px;
                    padding: 6px 12px;
                    background: #b7b7b7;
                    color: white;
                    margin-left: 30px;
                    @include transit('fast');
                    vertical-align: middle;
                }
                .s-btn:not(.active):hover {
                    background: #5e5e5e;
                }
                .active {
                    background: #4e4e4e;
                }
            }
            // Input Area
            .s-tr-input {
                .s-box {
                    margin-right: 60px;
                    .s-txt {
                        vertical-align: middle;
                        font-size: 18px;
                    }
                }
                .s-input[type="text"] {
                    padding: 4px;
                    background: #ececec;
                    border: none;
                    width: 32%;
                    text-align: center;
                    color: #888888;
                    border-bottom: solid 2px #c5c5c5;
                    border-radius: 2px;
                    @include transit('fast');
                    vertical-align: middle;
                }
                .s-input[type="text"]:focus {
                    width: 40%;
                    outline: 0;
                    border-bottom: solid 2px #b0b0b0;
                }
            }
            // Range-slider styling
            .s-tr-range {
                @include range-slider;
                td:first-child {
                    text-align: right;
                    .s-box {
                        margin: 0 12px;
                        span {
                            font-size: 14px;
                            vertical-align: middle;
                        }
                    }
                }
                td:nth-child(2) {
                    .s-box:after {
                        @include popup('range');
                    }
                    .s-box:active:after {
                        transform: translate3d(-50%,0,0);
                        opacity: 1;
                    }
                }
                td:last-child {
                    text-align: left;
                    .s-box {
                        span {
                            font-size: 20px;
                            vertical-align: middle;
                        }
                    }
                }
                td {
                    text-align: center;
                    .s-box {
                        margin-right:15px;
                    }
                }
            }
        }
    }
}

// ---------- Editor style ends -------------

// ---------- Previewer style starts -------------
#previewer {
	position: absolute;
	top: 20%;
	left: 45%;
	width: 50%;
	height: 60%;
	z-index: 10;
}

#previewer .s-bot {
    // background: #8ed7ae;
    background: #43457f;
}

#previewer-compile {
    position: absolute;
    z-index: 15;
    top: 0px;
    left: 0px;
    padding: 8px 16px;
    // background: purple;
    font-size: 18px;
    background: #8ed7ae;
    border-radius: 0px 0px 10px 0px;
    color: white;
}

#compile-source {
    background: #43457f;
}

// ---------- Previwer style ends -------------


// Basic style

.s-btn {
	position:relative;
	border: 0;
	box-shadow: 0;
	background: transparent;
    vertical-align: middle;
    .s-txt {
    	position: absolute;
    	top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}

.s-btn:focus {
	outline: 0;
}

.s-btn:active {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.s-dis:before {
    @include popup('disabled');
}

.s-dis:hover:before {
    transform: translate3d(0,0,0);
    opacity: 1;
}

.s-info:before {
    @include popup('info');
}

.s-info:hover:before {
    transform: translate3d(0,0,0);
    opacity: 1;
}

.s-row {
	display: block;
	width: 100%;
    text-align: center;
    .s-rt {
    	float: right;
    }
    .s-lt {
    	float: left;
    }
}

.s-box {
	position: relative;
	display: inline-block;
	height: 100%;
	text-align: center;
    .s-ct {
        display: inline-block;
        vertical-align: middle;
    }
}

.s-box:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}


.s-window {
	position: relative;
	height: 100%;
    border-radius: 10px;
    .s-head {
    	height: 60px;
    	// background: #303E63;
    	// background: #d8d89b;
    	// background: #4d5c84;
        // background: #9090d5;
        background: #c47de8;
        border-radius: 10px 10px 0px 0px;
    	overflow: hidden;
        .s-drag {
        	color: #FFFFFF;
        	font-size: 28px;
        	cursor: move;
        }
    }
    .s-body {
        position: absolute;
        top: 60px;
        bottom: 25px;
        width: 100%;
        background: #FBFBFB;
        // overflow: hidden;
    }
    .s-bot {
    	position: absolute;
    	bottom: 0px;
    	height: 25px;
    	width: 100%;
        background: #afc3a9;
        border-radius: 10px 10px 0px 0px;
        transform: rotate(180deg);
    }
}

.s-table {
    width: 60%;
    margin: 0 20%;
}



.s-watermark {
	color: #717171;
    opacity: 0.1;
    font-weight: bold;
    z-index: 0;
}

// Output components
.s-btn-circle {
    position:relative;
    border: 0;
    box-shadow: 0;
    background: transparent;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 100px;
	background: #40b572;
    .s-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
}

.s-btn-circle:focus {
	outline: 0;
}

.s-btn-circle:active {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.s-btn-square {
    position:relative;
    border: 0;
    box-shadow: 0;
    background: transparent;
    vertical-align: middle;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 18px;
	color: #FFFFFF;
	background: #40b572;
}

.s-btn-square:focus {
	outline: 0;
}

.s-btn-square:active {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
